@import '../variables.scss';

.categories {
    ul {
        display: flex;

        li {
            background-color: #bfc0c0;
            padding: 13px 30px;
            border-radius: 10px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.1s ease-in-out;
            @include noselect();

            &:hover {
                background-color: #4f5d75;
                color: #fff;
            }

            &:active {
                background-color: darken(#f9f9f9, 20%);
            }

            &.active {
                background-color: #4f5d75;
                color: #fff;
            }
        }
    }
}
